/*imports*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,800,900&display=swap');


/* Globals */
*{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    width: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif !important;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
    line-height: 1 !important;
    font-family: 'Nunito Sans', sans-serif;
}
nav {
    height: 10vh;
    background: #5b78c7;
    position: relative;
  }

.kz-title-bold{
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 64px;
}

.kz-title-bold::after{
    content: '';
    width: 92px;
    height: 4px;
    background-color: #000;
    bottom: -16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media(max-width:576px){
    .kz-title-bold{
        font-size: 1.2rem;
        letter-spacing: 4px;
        margin-bottom: 32px;
    }
    .kz-title-bold::after{
        width: 46px;
    }
}

.kz-section{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

/* Icons */
.kz-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #fff;
    transition: transform 0.2s;
}

.kz-icon:hover{
    transform: scale(1.1);
}

.kz-icon-round{
    border-radius: 50%;
}

.kz-icon-cross{
    width: 32px;
    height: 32px;
    display: inline-block;
    fill: #fafafa;
    color: #fafafa;
}

.kz-icon-facebook{
    background-color: #1877F2;
    -webkit-mask:  url('icons/facebook-brands.svg') no-repeat 50% 50%;
    mask: url('icons/facebook-brands.svg') no-repeat 50% 50%;
}

.kz-icon-instagram{
    background-color: #f46f30;
    -webkit-mask:  url('icons/instagram-brands.svg') no-repeat 50% 50%;
    mask: url('icons/instagram-brands.svg') no-repeat 50% 50%;
}

.kz-icon-linkedin{
    background-color: #007BB5;
    -webkit-mask:  url('icons/linkedin-in-brands.svg') no-repeat 50% 50%;
    mask: url('icons/linkedin-in-brands.svg') no-repeat 50% 50%;
}
/* <<<<<index.html>>>>>> */
/*-------------section1-------------*/
.hero-navbar{
    position: relative;
    width: 100%;
}

.headbar{
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
}

.headbar .kz-drawer{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
	height: 0;
  	opacity: 0;
	overflow: hidden;
	transition: all 400ms ease-in-out;
    padding: 0 16px;
    background-color: #202020;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    z-index: 999;
}
.headbar .kz-drawer img:hover{
    cursor: pointer;
}
.headbar img:hover{
    cursor: pointer;
}

.headbar .kz-drawer.active{
    opacity: 1;
    height: 57px;
    display: flex;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.headbar .kz-drawer a{
    text-decoration: none;
    color: inherit;
}

.headbar .kz-drawer a.active{
    font-weight: 900;
}

.headbar .kz-drawer a:not(:nth-child(1)){
    margin-left: 40px;
}

.headbar .kz-drawer a:nth-child(1){
    flex-grow: 1;
}


.headbar img{
    margin-left: 20px;
    width: 24px;
    height: 24px;
}

.headbar p.kz-current-section{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    margin-left: 40px;
    font-size: 0.95rem;
}

.headbar h2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5px;
    font-size: 2.5rem;
    letter-spacing: 1px;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0 !important;
}
@media(max-width:576px){
    .headbar h2{
        font-size: 0.975rem;
    }
    .headbar p.kz-current-section{
        font-size: 0.7rem;
        margin-left: 5px;
    }
    .headbar img{
        margin-left: 5px;
        width: 18px;
        height: 18px;
    }
    .kz-drawer img{
        margin-left: 5px;
    }
    .headbar .kz-drawer a{
        font-size: 0.7rem;
    }
    .headbar .kz-drawer.active{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.headbar h2::before{
    content: '';
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 8px;
    width: 16px;
    position: absolute;
    top: -12px;
    right: 8px;
    border-color: #202020;
    transform: rotate(-30deg);
}

.headbar h2::after{
    content: '';
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 8px;
    width: 16px;
    position: absolute;
    bottom: -12px;
    left: 8px;
    border-color: #202020;
    transform: rotate(-30deg);
}

.hero{
    position: relative;
    width: 100%;
}
.hero img{
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto; 
}
.kz-skewbg{
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: skewY(-8deg);
    background-color: #fafafa;
    z-index: -1;
}
.kz-section-skewbg{
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 70vh;
    transform: skewY(-8deg);
    background-color: #fafafa;
    z-index: -1;
}
@media(max-width:576px){
    .hero img{
        width: 80%;
    }
    .kz-skewbg{
        height: 70vh;
    }
}
.kz-section-vision{
    position: relative;
}
.kz-section-vision-content p{
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-left: 30px;
    padding-right: 30px;
}
.kz-section-vision-content img{
    height: auto;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}
.winnerlistleft{
    padding: 30px;
}
.winnerlistleft ul{
    list-style: none;
}
.competition{
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
}
.c_posn{
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #90cfcb;
    padding-bottom: 16px;
}
.kz-video{
    max-width:100%;
    padding: 20px;
}
.kz-video iframe{
    border-radius: 10px;
    max-width: 100%;
}
.kz-writeus-content{
    padding: 30px;
}
.kz-writeus-content h5{
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.kz-address{
    list-style: none;
}
.kz-address li{
    font-size: 1.0rem;
}
.kz-address a{
    color: rgb(20, 20, 20);
    vertical-align: middle;
    font-weight: 600;
}
.kz-address a:hover , .kz-address a:visited {
    color: rgb(20, 20, 20);
}
.kz-address i{
    width: 50px;
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}
@media(max-width:576px){
    .kz-section-vision-content img{
        width: 150px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.kz-footer{
    position: relative;
    background-color: #fafafa;
    padding: 48px;
}
.kz-footer img{
    width: 4rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.kz-footer-nav{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
}
.kz-footer-nav a{
    color: #000;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
}
.kz-footer-nav span:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}

.kz-social-icon{
    position: relative;
    height: 10vh;
}

.kz-social-icon i{
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    height: 32px;
    width: 32px;
    justify-content: space-evenly;
    background-color: #f46f30;
    border-radius: 50%;
    color: #fafafa;
}

.copyright{
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    text-align: center;
}
.copyright p{
    padding-top:10px;
}
.copyright i{
    color: #8b0000;
}
.copyright a{
    color:#f46f30;
    font-weight: 700;
}
.copyright a:hover, .copyright a:visited{
    color: #f46f30;
}
.kz-social-icon::after{
    content: '';
    width: 92px;
    height: 4px;
    background-color: #000;
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fa-facebook-f{
    background-color: #4c6ef5 !important;
}
.fa-instagram{
    background-color: #C13584 !important;
}
.fa-linkedin-in{
    background-color: #0073b1 !important;
}
.kz-social-icon i:hover{
    background-color: #000 !important;
    cursor: pointer;
}
@media(max-width:576px){
    .kz-footer-nav{
        margin-bottom: 0px;
    }
    .kz-footer-nav a{
        padding-left: 0px;
        padding-right: 0px;
    }
    .copyright{
        width: 100%;
        padding: 0px;
        padding-bottom: 2px;
    }
}

/* ============================= */
/*              TEAM             */
/* ============================= */
.team-card{
    margin-top: 100px;
    margin-left: 150px !important;
    margin-right: 150px !important;
    background-color: #202020;
    border-radius: 8px;
}
.team-card-image img{
    width: 50%;
    border-radius: 50%;
    height: auto;
}
.team-card-image img:hover{
    filter: grayscale(1);
}
.team-card-link {
    width: 72%;
    padding-top: 10px;
}
.team-card-link-title{
    padding: 0px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #fafafa;
    font-family: 'Naunito Sans' , sans-serif;
}
.team-card-link-subtitle{
    font-size: 0.9rem;
    padding: 0px;
    padding-bottom: 10px;
    color: #fafafa;
    font-family: 'Naunito Sans' , sans-serif;
}
.team-card-link a{
    margin-top: 10px;
    padding: 8px;
}
.team-card p{
    color: #fafafa;
    font-family: 'Naunito Sans' , sans-serif;
}
.team-card-content p{
    padding-top: 30px;
    padding-right: 30px;
}
.team-card-image{
    margin-right: 80px;
    border-right: 1px solid #fafafa;
}

@media(max-width: 576px){
    .team-card{
     margin-top: 80px !important;
     margin-left: 5px !important;
     margin-right: 5px !important;
    }
    .team-card-image{
        margin-right: auto;
        margin-left: auto;
        border: none;
    }
    .team-card-image img{
        width: 30%;
    }
    .team-card-link{
        width: 100%;
    }
    .team-card-content p{
        padding-top: 10px;
        padding-right: 0px;
        font-size: 0.8rem;
        opacity: 0.7;
    }
}
.kz-section-team img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
    position: relative;
    transition: all 0.2s;
}

.kz-section-team img:hover{
    transform: scale(0.9);
    filter: grayscale(1);
}

.kz-section-team .kz-team-member .kz-content{
    padding: 8px;
    background-color: #202020;
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
    transform: translateY(-40px);
    z-index: 0;
    color: #fafafa;
    line-height: 1.4;
}

.kz-section-team .kz-team-member .kz-content > div{
    margin-top: 48px;
}

.kz-section-team .kz-team-member .kz-content div p:nth-child(1){
    margin-bottom: 6px !important;
}

.kz-section-team .kz-team-member .kz-content div p:nth-child(2){
    font-size: 0.9rem;
    color: #fafafa;
}

.kz-section-team .kz-team-member .kz-content div .kz-social{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
}

.kz-section-team .kz-team-member .kz-content div .kz-social a{
    display: inline-block;
}


/* =============================================== */
/* Styling for cars.html begins here */
/* =============================================== */
.car-outer{
	margin-top: 100px;
	position: relative;
	height: 100vh;
	display: flex;
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 5px 10px 18px #888888;
}
.car-left{
	position: relative;
	padding: 0px;
	height: 100vh;
	width: 50%;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.car-right{
	position: relative;
	padding: 0px;
	height: 100vh;
	width: 50%;
	overflow: hidden;
	background-color: #030C22;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.car-photo img{
	position: absolute;
	z-index: 1070;
	height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.circle-left{
	overflow: hidden;
	position: absolute;
	right: 0%;	
	top: 50%;
	transform: translate(50%,-50%);
	background-color: #EB750C;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.car-left a:link{
	color: #030C22;
}
.car-left a:hover{
	color: #030C22;
}
.car-left a:active{
	color: #030C22;
}
.car-left a:visited{
	color: #030C22;
}
.circle-right{
	overflow: hidden;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.car-left-icon img{
	padding: 20px;
	height: 100px;
	width: 100px;
}
.car-left-title h1{
	padding: 50px;
	padding-bottom: 10px;
	font-size: 50px;
	font-weight: 600;
}
.specs{
	padding-left: 50px;
	margin-bottom: 10px;
}
.specs ul{
	list-style: none;
}
.specs h6{
	color: #030C22;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 500;
}
.specs h3{
	color: #EB750C;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: 700;
}
.car-left-footer{
	position: absolute;
	display: block;
	bottom: 0;
	height: 10vh;
	background-color: #F1F1F1;
	width: 100%;
}
.car-left-footer p{
	color: #030C22;
	padding: 15px;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 1px;
}
.car-left-footer i{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: #030C22;
}
@media(max-width:576px){
	.car-outer{
		margin: 20px;
		height: 60vh;
	}
	.car-left{
		height: 60vh;
	}
	.car-right{
		height: 60vh;
	}
	.circle-left , .circle-right{
		height: 100px;
		width: 100px;
	}
	.car-photo img{
		height: 40%;
		width: 50%;
	}
	.car-left-icon img{
		height: 70px;
		width: 70px;
	}
	.car-left-title h1{
		padding: 10px;
		font-size: 22px;
	}
	.specs{
		padding: 5px;
		padding-left: 10px;
	}
	.specs h6{
		font-size: 10px;
	}
	.specs h3{
		font-size: 12px;
	}
	.car-left-footer{
		height: 5vh;
	}
	.car-left-footer p{
		font-size: 12px;
		padding: 5px;
	}
}
@media only screen and (min-width:577px) and (max-width: 1120px){
	.car-outer{
		margin: 20px;
		height: 60vh;
	}
	.car-left{
		height: 60vh;
	}
	.car-right{
		height: 60vh;
	}
	.circle-left , .circle-right{
		height: 100px;
		width: 100px;
	}
	.car-photo img{
		height: 40%;
		width: 50%;
	}
	.car-left-icon img{
		height: 70px;
		width: 70px;
	}
	.car-left-title h1{
		padding: 10px;
		font-size: 22px;
	}
	.specs{
		padding: 0px;
		padding-left: 10px;
	}
	.specs h6{
		font-size: 8px;
	}
	.specs h3{
		font-size: 12px;
	}
	.car-left-footer{
		height: 5vh;
	}
	.car-left-footer p{
		font-size: 12px;
		padding: 5px;
	}
}

/* =============================================== */
/* Styling for cars.html ends here */
/* =============================================== */

/* ============================= */
/*       CAR SPECIFICATIONS      */
/* ============================= */

.details{
    position: absolute;
    top: 0;
}

.car-header{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 120px 0px 40px 0px;
}

.specifications{
    margin-top: 100px;
    margin-bottom: 100px;
}

#about img{
    display: flexblock;
    margin-left: 16px;
    width: 16px;

}
#specs img{
    display: flexbox;
    margin-left: 16px;
    width: 16px;
}
#toggle-about, #toggle-specs {
    display:block;
    background-color: #e5e5e5;
    color: #000;
    width: 80vw;
    height: 40px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0px 10px 30px;
    margin: 0px 50px 0px 100px;
    border-radius: 5px;
    cursor: pointer;
  }
  
#menu-about, #menu-specs {
    display:none;
  }
#menu-about ul li,
#menu-specs ul li {
    display:block;
    background-color:#e5e5e5;
    margin: 0px 50px 0px 100px;
    color: #000;
    width: 80vw;
    padding: 10px;
    padding-left: 50px;
    text-align: left;
  }
.toggle{
      display: block;
      padding: 8px 0px 20px 0px;
      background-color: #e5e5e5;
      width: 80vw;
      margin-left: 100px;
  }
#specs{
     margin-top: 10px;
 }
.about-intro{
     display: inline-block;
     background-color: #fff;
 }

.col{
    position: relative;
    background-color: #d8d8d8;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
 }
.head{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-position: under;
    text-transform: uppercase;
 }
.detail{
    display: block;
    padding: 20px 0px 20px 0px;
 }
.specifications{
    margin-bottom: 50px;
}

 @media(max-width:576px){
    .d-block{
        content:"";
        margin-right: 50%;
        height: 300px !important;
        width: auto;
    }
    .car-header{
        margin-right: 30px;
        margin-left: 80px;
    }
    .car-description{
        text-align: center;
        margin-right: 30px;
        font-size: 12px;
    }
    #toggle-about, #toggle-specs {
        width: 85vw;
        height: 40px;
        padding: 10px 10px 10px 30px;
        margin: 0px 50px 0px 30px;
        border-radius: 3px;
        font-size: 12px;
      }
    .toggle{
        padding: 8px 20px 20px 20px;
        width: 85vw;
        margin: 0px 50px 0px 30px;
        font-size: 10px;
    }  
    .col{
        border-radius: 1px;
     }
   
 } 

 @media only screen and (min-width:577px) and (max-width: 1120px){
    .d-block{
        content:"";
        margin-right: 0%;
        height: 400px !important;
        width: auto;
    }
    .car-header{
        margin-left: 30px;
        text-align: left;
    }
    .car-description{
        text-align: left;
        margin-left: 30px;
        font-size: 13px;
    }
    #toggle-about, #toggle-specs {
        width: 82vw;
        height: 40px;
        padding: 10px 10px 10px 30px;
        margin: 0px 100px 0px 40px;
        border-radius: 3px;
        font-size: 12px;
      }
    .toggle{
        padding: 8px 20px 20px 20px;
        width: 82vw;
        margin: 0px 100px 0px 40px;
        font-size: 10px;
    }  
    .col{
        border-radius: 1px;
     }
 }

/* =============================================== */
/* Styling for support.html begins here */
/* =============================================== */

.support-header{
    margin-top: 100px;
    background-color: #e5e5e5;
    padding-top: 100px;
    width: 100%;
    height: 250px;
    font-size: 36px;
    font-weight: bold;
}
.technical-header{
    margin-top: 80px;
    width: 100%;
    height: 200px;
    font-size: 36px;
}
.illustration{
    height: 200px !important;
    width: auto;
}
.subtitle{
    margin-top: 40px;
}
.support-description{
    margin-top: 30px;
    background-color: #e5e5e5;
    padding-top: 70px;
    width: 100% !important;
    height: 250px;
    padding-left: 100px;
    padding-right: 100px;
}
.support-title{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 100%;
}
.support-subtitle{
    padding-top: 10px;
    line-height: 120%;
}
.financial-support-header{
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
}
.finanical-support-description{
    margin: 20px 200px 20px 200px;
}
@media(max-width:576px){

    .support-header{
        height: 150px;
        font-weight: bold;
        padding-top: 50px;
        font-size: 26px;
    }
    .technical-header{
        margin: 40px 0px 0px 0px;
        width: 100%;
        height: 100px;
        font-size: 20px;
    }
    .subtitle{
        margin: 30px 0px 40px 0px;
    }
    .support-description{
        margin-top: 30px;
        padding-top: 10px;
        height: 440px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .support-title{
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 40px;
        line-height: 100%;
    }
    .illustration{
        height: 150px !important;
        width: auto;
    }
    .financial-support-header{
        font-size: 26px;
    }
    .finanical-support-description{
        margin: 20px 60px 0px 60px;
    }
}
@media only screen and (min-width:577px) and (max-width: 1120px){
    .support-header{
        height: 150px;
        font-weight: bold;
        padding-top: 50px;
        font-size: 30px;
    }
    
    .technical-header{
        margin: 40px 0px 0px 0px;
        width: 100%;
        height: 180px;
        font-size: 28px;
    }
    .support-description{
        margin-top: 30px;
        padding: 70px 50px 10px 50px;
    }
    .support-title{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 0px;
        line-height: 100%;
    }
    .support-subtitle{
        padding-bottom: 30px;
    }
    .financial-support-header{
        font-size: 30px;
    }
    .finanical-support-description{
        margin: 20px 100px 0px 100px;
    }
   
}